#close-button{
  margin-right: 20px;
  border: 2px solid var(--ion-color-medium);
  border-radius: 3px;
  font-size: 14pt;
  color: var(--ion-color-medium);
}
#code{
  background-color: var(--ion-color-light)
}
.qr-containter {
  width: 256px !important;
  height: 256px !important;
  margin: auto;
}

.code-button {
  margin: auto;
  width: 200px; 
}
ion-row {
  margin: 1.5em 0
}
#button-column{
  width:256px
}