// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
$breakpoint-sidemenu: 768px;

#side-menu-footer {
	position: fixed;
	left: 0;
	bottom: 10px;
	right: 0;
	border-top: 1px solid #f1f1f1 !important;
}

#party {
	margin: 0px;
	border: 0px solid;
	border-color: var(--ion-color-medium);
	border-radius: 0px;
	padding: 0px;

	ion-item:first-of-type {
		color: white;
	}
}

// ion-modal.auto-height {
// 	@media (min-width: $breakpoint-sidemenu) {
// 		--height: auto;
		
// 		.modal-wrapper {
// 			width: 50vw;
// 			min-width: 456px;
// 		}

// 		.ion-page {
// 			position: relative;
// 			contain: content;
// 			max-height: 90vh;

// 			.modal-content {
// 				overflow: auto;
// 			}
// 		}
// 	}
// }
ion-modal.add-player-modal {
	@media (min-width: $breakpoint-sidemenu) {
		.modal-wrapper {
			max-width: 300px;
			max-height: 350px;
		}
	}
}
ion-modal.edit-player-modal {
	@media (min-width: $breakpoint-sidemenu) {
		.modal-wrapper {
			max-width: 456px;
			max-height: 354px;
		}
	}
}